[Unit]
Description=Deploy Service Github Listener
Documentation=https://github.com/mfamilia/deploy-service
After=network.target

[Service]
Environment=PORT=5050
Type=simple
User=deploy
ExecStart=/usr/bin/node /projects/deploy-service/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target